[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "accumulate"]
	path = accumulate
	url = https://github.com/markvanderloo/accumulate
	subdir = pkg
[submodule "extremevalues"]
	path = extremevalues
	url = https://github.com/cran/extremevalues
[submodule "gower"]
	path = gower
	url = https://github.com/markvanderloo/gower
	subdir = pkg
[submodule "hashr"]
	path = hashr
	url = https://github.com/markvanderloo/hashr
	subdir = pkg
[submodule "lumberjack"]
	path = lumberjack
	url = https://github.com/markvanderloo/lumberjack
	subdir = pkg
[submodule "rspa"]
	path = rspa
	url = https://github.com/markvanderloo/rspa
	subdir = pkg
[submodule "settings"]
	path = settings
	url = https://github.com/markvanderloo/settings
	subdir = pkg
[submodule "simputation"]
	path = simputation
	url = https://github.com/markvanderloo/simputation
	subdir = pkg
[submodule "stringdist"]
	path = stringdist
	url = https://github.com/markvanderloo/stringdist
	subdir = pkg
[submodule "synthesizer"]
	path = synthesizer
	url = https://github.com/cran/synthesizer
[submodule "tinytest"]
	path = tinytest
	url = https://github.com/markvanderloo/tinytest
	subdir = pkg
